.profile-card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 20 px;
    text-align: center;
    max-width: 800px;
    width: 90%;
    max-height: 90%;
    background: #fff;
    border-radius: 24px;
    padding: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.image{
    position: relative;
    height: 225px;
    width: 225px;
    border-radius: 50%;
    background-color: #d9bd9c;
    padding: 6px;
    align-items: center;
    justify-self: center;
    position: relative;
    margin-bottom: 20px;
}

.image .profile-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
}

.profile-card .text-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
}

.text-data .name{
    font-size: 22px;
    font-weight: 500;
}

.text-data .job{
    font-size: 15px;
    font-weight: 400;
}

.profile-card .media-buttons{
    display: flex;
    align-items: center;  
    margin-top: 30px; 
}

.media-buttons .link{
    margin: 0 8px;
    background-color: #4070f4;
    text-decoration: none;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 40px;
}

.profile-card .buttons{
    display: flex;
    align-items: center;
    margin-top: 30px
}

.buttons .button{
    background-color: #7d7d7f;
    padding: 16px 48px;
    margin: 0 10px;
    border-radius: 24px;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
}

.buttons .button:hover{
    background-color: #323233;
}

.profile-card::before{
    content: '';
    position: absolute;
    height: 175px;
    width: 100%;
    background-color: #d9bd9c;
    top: 0;
    left: 0;
    border-radius: 24px 24px 0 0;
}

.profile-card .infos_titles {
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 25px;
    color: #384001;
  }

.text{
    color: #384001;
    text-align: left;
}

.text_li{
    color: #384001;
    text-align: left;
    padding-bottom: 5px;
}

.infos_details {
    color: #384001;
    text-align: center;
    padding-left: 30px;
}